*{
  margin: 0;
  padding: 0;
}

.App{
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}

#next-back-btn{
  width: 420px;
  max-width: 100vw;
  bottom: 5px;
  padding: 2px 0;
  position: absolute;
  left: 0px;
}

#next-btn{
  margin: 0 4px;
  border-radius: 5px;
  background-color: white;
  font-size: 24px;
  padding: 2px 5px;
  float: right;
  opacity: 70%;
}

#back-btn{
  margin: 0 4px;
  border-radius: 5px;
  background-color: white;
  font-size: 24px;
  padding: 2px 5px;
  float: left;
  opacity: 70%;
}

#home, #page2, #page10, #page11, #page12{
  position: relative;
  min-height: 100vh;
  background-size: 420px 100vh;
  background-image: url("../public/images/page2.jpg");
}

#page3, #page4, #page5, #page9{
  position: relative;
  min-height: 100vh;
  background-size: 420px 100vh;
  background-image: url("../public/images/page3.jpg");
}

#page6, #questions, #page13{
  position: relative;
  min-height: 100vh;
  background-size: 420px 100vh;
  background-image: url("../public/images/page6.jpg");
}

#page7, #page8{
  position: relative;
  min-height: 100vh;
  background-size: 420px 100vh;
  background-image: url("../public/images/page7.jpg");
}

.bg-awan{
  padding-top: 45px;
  width: 14rem;
  height: 12rem;
  background-size: 14rem 15rem;
  background-repeat: no-repeat;
  background-image: url("../public/images/awan.png");
}

.bg-awan span{
  margin: 0 auto;
  max-width: 8rem;
  font-size: .8rem !important;
}

#page2:first-child,#page3:first-child,#page4:first-child,#page5:first-child,
#page6:first-child,#page7:first-child,#page8:first-child,#page9:first-child,
#page10:first-child,#page11:first-child,#page12:first-child,#page13:first-child{
  padding: 0 20px;
}

.flex{
  display: flex;
}

.flex div{
  width: 50%;
  margin: 20px 10px;
}

span{
  display: block;
  font-size: 16px;
}

#feedback{
  position: absolute;
  top: 0;
  width: 420px;
  height: 100vh;
}

.center-margin{
  margin: 0 auto;
}

hr{
  border: 1px solid white;
  max-width: 150px;
}

#home p{
  color: white;
  font-size: 26px;
  margin: 5px 0;
}

.flex div, .box{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  opacity: 70%;
}

#box hr{
  border: 1px solid black;
}

.title{
  font-size: 22px;
}